<div class="restaurant-list">
    {{#each}}
    <div class="row">
        <div class="large-12 columns">
            <div class="callout panel radius">
                <p><strong>{{name}}</strong>{{#if tagline}}<br/>{{/if}}{{tagline}}</p>
                {{partial "restaurant"}}
                <p>Description: {{description}} </p>
                {{#link-to 'restaurant' this class="button restaurantRow white"}}ShowTimes{{/link-to}}
            </div>
        </div>
    </div>
    {{/each}}
</div>